<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BlogsEntities" connectionString="metadata=res://*/Blogs.BlogsModel.csdl|res://*/Blogs.BlogsModel.ssdl|res://*/Blogs.BlogsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=G22-NGHIAND\SQLEXPRESS;Initial Catalog=MyLife;Persist Security Info=True;User ID=sa;Password=Gioxoay@123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="MyLifeEntities" connectionString="metadata=res://*/MyLifeModel.csdl|res://*/MyLifeModel.ssdl|res://*/MyLifeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=G22-NGHIAND\SQLEXPRESS;Initial Catalog=MyLife;Persist Security Info=True;User ID=sa;Password=Gioxoay@123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="FriendsEntities" connectionString="metadata=res://*/Friends.FriendsModel.csdl|res://*/Friends.FriendsModel.ssdl|res://*/Friends.FriendsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=G22-NGHIAND\SQLEXPRESS;Initial Catalog=MyLife;Persist Security Info=True;User ID=sa;Password=Gioxoay@123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="MoneyBoxEntities" connectionString="metadata=res://*/MoneyBox.MoneyBoxModel.csdl|res://*/MoneyBox.MoneyBoxModel.ssdl|res://*/MoneyBox.MoneyBoxModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=G22-NGHIAND\SQLEXPRESS;Initial Catalog=MyLife;Persist Security Info=True;User ID=sa;Password=Gioxoay@123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>