/*
	Design by Free CSS Templates
	http://www.freecsstemplates.org
	Released for free under a Creative Commons Attribution 2.5 License
*/
body {
	margin: 0;
	padding: 0;
	background: #FFFFFF url(img01.gif) repeat-x;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #666666;
}
h1, h2, h3 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #000000;
}
h1 {
	font-weight: normal;
	font-size: 237%;
}
a {
	border-bottom: 1px dotted #CCCCCC;
	text-decoration: none;
	color: #1777B1;
}
a:hover {
	border-bottom: none;
	color: #FF7400;
}
img {
	border: 3px solid #7F7772;
}
img.left {
	float: left;
	margin: 6px 15px 0 0;
	border: none;
}
img.right {
	float: right;
	margin: 6px 0 0 15px;
}
.bg1 { background: url(img04.gif) no-repeat left bottom; }
.bg3 { background: url(img06.gif) no-repeat left bottom; }
.bg6 { background: url(img10.gif) no-repeat right bottom; }
.bg7 { background: url(img11.gif) no-repeat right bottom; }
.feature {
}
.feature .image {
	padding: 0 0 0 40px;
}
.feature .title {
}
.feature .content {
	padding: 0 0 0 40px;
}
.box {
	float: left;
	width: 250px;
}
.box .title {
	height: 40px;
	padding: 20px 0 0 40px;
	text-transform: lowercase;
	font-size: 167%;
}
.box .content {
}
.list {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}
.list li {
	padding-left: 10px;
	background: url(img07.gif) no-repeat left center;
}
#header {
	width: 760px;
	height: 150px;
	margin: 0 auto;
	background: url(img02.gif) no-repeat;
}
#header h1, #header p {
	margin: 0;
	margin: 0;
	font-weight: normal;
	color: #000000;
}
#header h1 {
	float: left;
	padding: 58px 0 0 12px;
	text-transform: lowercase;
	line-height: 72px;
	font-size: 72px;
}
#header p {
	float: right;
	padding: 102px 0 0 0;
	text-transform: uppercase;
	font: bold 11px "Trebuchet MS", Arial, Helvetica, sans-serif;
}
#header p a {
	font-size: 167%;
}
#header a {
	border: none;
	color: #000000;
}
#page {
	width: 760px;
	margin: 0 auto;
}
#content {
	float: right;
	width: 519px;
}
#content p, #content ul, #content ol {
	line-height: 1.8em;
}
#sidebar {
	float: left;
	width: 200px;
	padding: 0 20px 0 0;
	border-right: 1px dotted #DCDCDC;
}
#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#sidebar li {
}
#sidebar li ul {
}
#sidebar li li {
	padding: 5px 10px;
	background: url(img07.gif) no-repeat 0 10px;
	border-top: 1px dotted #DCDCDC;
}
#sidebar li li.first {
	border-top-color: #FFFFFF;
}
#sidebar h2 {
	height: 40px;
	padding: 20px 0 0 40px;
	text-transform: lowercase;
	font-size: 167%;
}
#sidebar a {
	border: none;
}
#sidebar a:hover {
	border-bottom: 1px dotted #666666;
}
#sidebar .news h2
{
	background: url(img05.gif) no-repeat left bottom;
}
#footer {
	clear: both;
	height: 150px;
	padding: 20px 0 0 0;
	background: #000000;
}
#footer p {
	background: #000000;
	margin: 0;
	text-align: center;
	font-size: 85%;
}
#footer a {
	border: none;
	color: #CCCCCC;
}
#footer a:hover {
	color: #FFFFFF;
}
#legal {
}
#legal strong {
	display: block;
	padding: 20px 0 0 0;
	background: url(img12.gif) no-repeat center top;
	text-transform: lowercase;
	letter-spacing: 3px;
	font-size: 182%;
	font-weight: normal;
}
/*
	News
*/
.news
{
}
.news fieldset
{
	border: none;
}
.news legend
{
	font-size: 18px;
}
.groups
{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.groups li
{
	float: left;
	width: 120px;
}
.groups a
{
	text-decoration: none;
	border: none;
	overflow: hidden;
	cursor: pointer;
}
a.group-add
{
	background: transparent url("../icons.png") no-repeat 0px -21px;
	display: block;
	height: 16px;
	line-height: 16px;
}
a.friend-add
{
	background: transparent url("../icons.png") no-repeat 0px -147px;
	display: block;
	height: 16px;
	line-height: 16px;
}
input.yahoo
{
	background: transparent url("../icons.png") no-repeat 2px -229px;
	padding-left: 20px;
	width: 182px !important;
	height: 18px;
	line-height: 18px;
	border: solid 1px #7F9DB9;
}
input.skype
{
	background: transparent url("../icons.png") no-repeat 2px -103px;
	padding-left: 20px;
	width: 182px !important;
	height: 18px;
	line-height: 18px;
	border: solid 1px #7F9DB9;
}
a.birthday
{
	background-position: 0px -84px;
	display: block;
	height: 16px;
	line-height: 16px;
}
input.birthday
{
	background-position: 2px -82px;
	padding-left: 20px;
	width: 182px !important;
	height: 18px;
	line-height: 18px;
	width: 182px !important;
	border: solid 1px #7F9DB9;
}
.male
{
	background: url('/Icons/male.png') no-repeat 1px;
	padding-left: 20px;
	width: 182px !important;
	height: 18px;
	line-height: 18px;
}
.female
{
	background: url('/Icons/female.png') no-repeat 1px;
	padding-left: 20px;
	width: 182px !important;
	height: 18px;
	line-height: 18px;
}
.friends
{
	list-style: none;
}
.friends li
{
	float: left;
	width: 125px;
	height: 45px;
	overflow: hidden;
	background-repeat: no-repeat !important;
	background-position: 22px 0px !important;
	cursor: pointer;
	text-align: center;
	padding-top: 85px;
}
.friends span
{
	padding: 0px;
	margin: 0px;
}
.groupInfo
{
}
.letters
{
}
.letters a
{
	margin: 0px 4px 0px 4px;
	border: none;
	text-decoration: none;
}