<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="securityCryptographyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.Configuration.CryptographySettings, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="myLife" type="MyLife.Configuration.MyLifeSection, MyLife.Core" />
  </configSections>

  <connectionStrings>
    <add name="MyLifeEntities" connectionString="metadata=res://*/MyLifeModel.csdl|res://*/MyLifeModel.ssdl|res://*/MyLifeModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=localhost\SQLEXPRESS;Initial Catalog=MyLife;Persist Security Info=True;User ID=sa;Password=Gioxoay@123;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient" />
    <add name="BlogsEntities" connectionString="metadata=res://*/Blogs.BlogsModel.csdl|res://*/Blogs.BlogsModel.ssdl|res://*/Blogs.BlogsModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=localhost\SQLEXPRESS;Initial Catalog=MyLife;Persist Security Info=True;User ID=sa;Password=Gioxoay@123;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient" />
    <add name="FriendsEntities" connectionString="metadata=res://*/Friends.FriendsModel.csdl|res://*/Friends.FriendsModel.ssdl|res://*/Friends.FriendsModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=localhost\SQLEXPRESS;Initial Catalog=MyLife;Persist Security Info=True;User ID=sa;Password=Gioxoay@123;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient" />
    <add name="MoneyBoxEntities" connectionString="metadata=res://*/MoneyBox.MoneyBoxModel.csdl|res://*/MoneyBox.MoneyBoxModel.ssdl|res://*/MoneyBox.MoneyBoxModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=localhost\SQLEXPRESS;Initial Catalog=MyLife;Persist Security Info=True;User ID=sa;Password=Gioxoay@123;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <loggingConfiguration name="Logging Application Block" tracingEnabled="true"
    defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="MyLife.log" header="----------------------------------------"
        footer="----------------------------------------" formatter="Text Formatter"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="FlatFile TraceListener" />
      <add source="Enterprise Library Logging" formatter="Text Formatter"
        log="Application" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Formatted EventLog TraceListener" />
      <add toAddress="nguyen.dainghia@gmail.com" fromAddress="mylife@mylifevn.com"
        subjectLineStarter="" subjectLineEnder="" smtpServer="mail.mylifevn.com"
        smtpPort="25" formatter="Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Email TraceListener" />
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="FlatFile TraceListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="FlatFile TraceListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <securityCryptographyConfiguration defaultHashInstance="SHA256Managed" defaultSymmetricCryptoInstance="RijndaelManaged">
    <hashProviders>
      <add algorithmType="System.Security.Cryptography.SHA256Managed, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        saltEnabled="false" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.HashAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="SHA256Managed" />
    </hashProviders>
    <symmetricCryptoProviders>
      <add algorithmType="System.Security.Cryptography.RijndaelManaged, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        protectedKeyFilename="D:\Projects\MyLife\MyLife\Work.key"
        protectedKeyProtectionScope="LocalMachine" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.SymmetricAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="RijndaelManaged" />
    </symmetricCryptoProviders>
  </securityCryptographyConfiguration>
  <cachingConfiguration defaultCacheManager="Cache Manager">
    <cacheManagers>
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
        numberToRemoveWhenScavenging="10" backingStoreName="Null Storage"
        type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Blogs Cache Manager" />
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
        numberToRemoveWhenScavenging="10" backingStoreName="Null Storage"
        type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Friends Cache Manager" />
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
        numberToRemoveWhenScavenging="10" backingStoreName="Null Storage"
        type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Money Box Cache Manager" />
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
        numberToRemoveWhenScavenging="10" backingStoreName="Null Storage"
        type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="MyLife Cache Manager" />
    </cacheManagers>
    <backingStores>
      <add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Null Storage" />
    </backingStores>
  </cachingConfiguration>
  <myLife cacheProvider="MyLife Cache Manager" theme="Canvass" name="My Life" slogan="Cuộc sống là những niềm vui" shortDateFormat="dd/MM/yyyy" shortDateTimeFormat="dd/MM/yyyy HH:mm" longDateFormat="dddd, dd MMMM yyyy" longDateTimeFormat="dddd, dd MMMM yyyy HH:mm tt"
          keywords="mylife,mylifevn,blog,photo,money" description="MyLifeVn, chia sẻ những cảm xúc của cuộc sống">
    <blogs defaultProvider="SqlServerBlogsProvider" cacheProvider="Blogs Cache Manager" defaultTheme="iNove">
      <providers>
        <add name="SqlServerBlogsProvider" type="MyLife.DataAccess.Blogs.SqlServerBlogsProvider, MyLife.DataAccess" />
      </providers>
    </blogs>
    <storage defaultProvider="HardDiskStorageProvider">
      <providers>
        <add name="HardDiskStorageProvider" type="MyLife.Web.Storage.HardDiskStorageProvider, MyLife.Core" />
      </providers>
    </storage>
    <links defaultProvider="SqlServerLinksProvider" cacheProvider="MyLife Cache Manager">
      <providers>
        <add name="SqlServerLinksProvider" type="MyLife.DataAccess.Links.SqlServerLinksProvider, MyLife.DataAccess" />
      </providers>
    </links>    
    <news defaultProvider="SqlServerNewsProvider" cacheProvider="MyLife Cache Manager">
      <providers>
        <add name="SqlServerNewsProvider" type="MyLife.DataAccess.News.SqlServerNewsProvider, MyLife.DataAccess" />
      </providers>
    </news>
    <friends defaultProvider="SqlServerFriendsProvider" cacheProvider="Friends Cache Manager">
      <providers>
        <add name="SqlServerFriendsProvider" type="MyLife.DataAccess.Friends.SqlServerFriendsProvider, MyLife.DataAccess" />
      </providers>
    </friends>
    <moneyBox defaultProvider="SqlServerMoneyBoxProvider" cacheProvider="Money Box Cache Manager" symmetricCryptoProvider="RijndaelManaged" numberOfRecordsOnPage="20">
      <providers>
        <add name="SqlServerMoneyBoxProvider" type="MyLife.DataAccess.MoneyBox.SqlServerMoneyBoxProvider, MyLife.DataAccess" />
      </providers>
    </moneyBox>
    <mimeTypes>
      <add extension="avi" contentType="video/x-msvideo" />
      <add extension="bmp" contentType="image/bmp" />
      <add extension="csv" contentType="text/csv" />
      <add extension="doc" contentType="application/msword" />
      <add extension="gif" contentType="image/gif" />
      <add extension="jpg" contentType="image/jpeg" />
      <add extension="jpeg" contentType="image/jpeg" />
      <add extension="zip" contentType="application/zip" />
      <add extension="rar" contentType="application/x-rar-compressed" />
      <add extension="pdf" contentType="application/pdf" />
      <add extension="xsl" contentType="application/vnd.ms-excel" />
      <add extension="ppt" contentType="application/vnd.ms-powerpoint" />
      <add extension="swf" contentType="application/x-shockwave-flash" />
      <add extension="mp3" contentType="audio/mpeg" />
      <add extension="wav" contentType="audio/x-wav" />
      <add extension="png" contentType="image/png" />
      <add extension="txt" contentType="text/plain" />
    </mimeTypes>
  </myLife>
  <appSettings />
  <system.web>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Abstractions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/login" timeout="30" name=".mylifeformauth" protection="All" />
    </authentication>
    <membership defaultProvider="SqlServerMembershipProvider">
      <providers>
        <clear/>
        <add name="SqlServerMembershipProvider" type="MyLife.DataAccess.Security.SqlServerMembershipProvider, MyLife.DataAccess" requiresUniqueEmail="false"/>
      </providers>      
    </membership>
    <profile defaultProvider="SqlServerProfileProvider" automaticSaveEnabled="false" inherits="MyLife.Web.Profile.MyLifeProfile">
      <providers>
        <clear />
        <add name="SqlServerProfileProvider" type="MyLife.DataAccess.Security.SqlServerProfileProvider, MyLife.DataAccess" />
      </providers>
    </profile>
    <roleManager enabled="true" defaultProvider="SqlServerRoleProvider">
      <providers>
        <clear />
        <add name="SqlServerRoleProvider" type="MyLife.DataAccess.Security.SqlServerRoleProvider, MyLife.DataAccess" />
      </providers>
    </roleManager>
    <pages enableViewState="false" enableViewStateMac="false"
           pageParserFilterType="System.Web.Mvc.ViewTypeParserFilter, System.Web.Mvc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
           pageBaseType="System.Web.Mvc.ViewPage, System.Web.Mvc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
           userControlBaseType="System.Web.Mvc.ViewUserControl, System.Web.Mvc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </controls>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Linq" />
        <add namespace="System.Collections.Generic" />
        <add namespace="xVal.Html"/>
        <add namespace="MyLife"/>
        <add namespace="MyLife.Web.Mvc"/>        
        <add namespace="Microsoft.Web.Mvc" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add verb="*" path="metaweblog.axd" type="MyLife.Web.Blogs.MetaWeblog.MetaWebLogApi, MyLife.Core" />
      <add verb="*" path="*.js" type="MyLife.Web.HttpHandlers.JavascriptHandler, MyLife.Core" />
      <add verb="*" path="*.htc" type="MyLife.Web.HttpHandlers.DynamicHtmlHandler, MyLife.Core" />
    </httpHandlers>
    <httpModules>
      <add name="Www_Rewriter" type="MyLife.Web.UrlRewriter, MyLife.Core" />
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpModules>
    <customErrors mode="Off">
    </customErrors>
    <machineKey decryption="AES" decryptionKey="4ABAE54277791C0DF2E5926CCC3E76D5595261961E68446170ADCB8D88E16C41"
                validation="SHA1" validationKey="9D3DD4CF67A3AD8F3BD3C4DF17FDD8F470559A4FD43FB72DDAE2D275F7FDF87A91AA145EA8B7F28784CD99E853F607899D4694900DFA07C6727E41D0C65B2BFA" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="OptionInfer" value="true" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="UrlRoutingModule" />
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </modules>
    <handlers>
      <remove name="MvcHttpHandler" />
      <remove name="UrlRoutingHandler" />
      <add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="nguyen.dainghia@gmail.com">
        <!--<network host="127.0.0.1" userName="xox" password="xox@123" />-->
        <network host="ITCGCL01BE.fsoft.fpt.vn" userName="fsoft.fpt.vn\nghiand" password="Gioxoay@1234" />
        <!--<network host="mail.mylifevn.com" userName="mylife@mylifevn.com" password="Gioxoay-123"/>-->
      </smtp>
    </mailSettings>
  </system.net>
</configuration>