.groups
{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.groups li
{
	float: left;
	width: 120px;
}
.groups a
{
	text-decoration: none;
	border: none;
	overflow: hidden;
	cursor: pointer;
}
span.group-add
{
	background: transparent url("/Icons/group-add.png") no-repeat 10px 8px;
	text-indent: 30px;
	display: block;
}
span.friend-add
{
	background: transparent url("/Icons/friend-add.png") no-repeat 10px 8px;
	text-indent: 30px;
	display: block;
}
input.yahoo
{
	background: url('/Icons/yahoo.png') no-repeat 1px;
	padding-left: 20px;
	width: 182px !important;
	height: 18px;
	line-height: 18px;
	border: solid 1px #7F9DB9;
}
input.skype
{
	background: url('/Icons/skype.png') no-repeat 1px;
	padding-left: 20px;
	width: 182px !important;
	height: 18px;
	line-height: 18px;
	border: solid 1px #7F9DB9;
}
.birthday
{
	background: url("/Icons/cake.png") no-repeat 1px;
	padding-left: 20px;
	width: 182px !important;
	height: 18px;
	line-height: 18px;
}
input.birthday
{
	background: #ffffff url('/Icons/cake.png') no-repeat 1px;
	padding-left: 20px;
	width: 182px !important;
	height: 18px;
	line-height: 18px;
	width: 182px !important;
	border: solid 1px #7F9DB9;
}
.male
{
	background: url('/Icons/male.png') no-repeat 1px;
	padding-left: 20px;
	width: 182px !important;
	height: 18px;
	line-height: 18px;
}
.female
{
	background: url('/Icons/female.png') no-repeat 1px;
	padding-left: 20px;
	width: 182px !important;
	height: 18px;
	line-height: 18px;
}
.friends
{
	list-style: none;
}
.friends li
{
	float: left;
	width: 125px;
	height: 45px;
	overflow: hidden;
	background-repeat: no-repeat !important;
	background-position: 22px 0px !important;
	cursor: pointer;
	text-align: center;
	padding-top: 85px;
}
.friends span
{
	padding: 0px;
	margin: 0px;
}
.groupInfo
{
}
.letters
{
}
.letters a
{
	margin: 0px 4px 0px 4px;
	border: none;
	text-decoration: none;
}